.carousel-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.carousel-container {
  position: relative;
  width: 80%;
}

.carousel-slide-list {
  position: relative;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 400px;
  padding: 0;
}

.carousel-slide-item {
  display: flex;
  flex-direction: column;
  position: absolute;
  transition: all 0.5s ease;
  width: 250px;
  // slide item initial state
  &.s4 {
    transform: translateX(-60rem);
    opacity: 0;
  }
  &.s5 {
    transform: translateX(-30rem);
  }
  &.s1 {
    transform: translateX(0);
  }
  &.s2 {
    transform: translateX(30rem);
  }
  &.s3 {
    transform: translateX(60rem);
    opacity: 0;
  }
}

.carousel-slide-item__img-link {
  height: 25rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  overflow: hidden;
  &:hover {
    &:after {
      opacity: 1;
    }

    img {
      transform: scale(1.2);
    }
  }
  img {
    transition: all 0.5s ease;
  }

  img {
    object-fit: cover;
    width: 100%;
    transition: all 0.5s ease;
    filter: grayscale(1);
    &.active {
      filter: none;
    }
  }
}

.carousel-slide-item__body {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: -25px;

  h4 {
    margin: 10px 0 0 0;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    margin: 10px 0 0 0;
    font-size: 15px;
    color: $colorDeco;
    text-align: center;
  }
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  margin: 0;
  background: none;
  outline: 0;
  cursor: pointer;
  &.prev-btn {
    left: -70px;
  }
  &.next-btn {
    right: -70px;
  }
}

i {
  color: $colorDarkestGrey;
  font-size: 45px;
}

.carousel-dots {
  display: inline-block;
  margin-top: 20px;

  .dot {
    width: 20px;
    height: 20px;
    background: #ccc;
    border: 0;
    border-radius: 50%;
    margin: 0 0.5px;
    outline: none;
    transform: scale(0.5);
    cursor: pointer;
    &.active {
      background: $colorDark;
    }
  }
}
