.schedule {
    .title {
        margin: 50px 0;
        text-align: center;
    }

    .text {
        margin: 15px 0 50px 0;
        span {
            text-transform: uppercase;
        }
        span:nth-of-type(2) {
            text-transform: lowercase;
            font-weight: 700;
        }
    }
}